*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}
    
p{
    font-size: 12px;
}

.main-header{
    background-color: #EAC926; 
    padding-bottom: 20px; 
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

#logo{
    width: 50%;
    padding: 10px;
}

header div .search-box{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    width: 50%;
}

.lupa{
    color: #000000;
    border: 1px solid #666;
    background-color: #ffffff;
    font-size: 14px; 
}

.input_text{
    width: 100%;
}

::placeholder {
    text-align: center; 
  }

.main-header .copy-header{ 
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

header nav{
    margin-left: 20px;
}

.main-navbar ul {
    list-style: none;  
}

.main-navbar a{
    text-decoration: none;
    color: #000000;
    padding: 5px 0px;
    font-size: 12px;
}

.burger-menu{
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 40px;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

section.banner img{
    width: 100%;
}
/* Productos en display */
main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section h3{
    margin: 20px 0px;
}
.descuento,
.descripcion{
    font-size: 16px;
    font-weight: normal;
}

h3,
.descripcion{
    color: #666;
}


section div.last-visit, 
section div.offers{
    display: flex;
    flex-wrap: wrap;
} 

    .titulares{
        font-size: 24px;}

    .precio{
        font-size: 18px;
        width: 30%; 
    }

    .descuento{
        font-size: 16px;
        width: 70%; 
    }

    .descripcion{
        font-size: 16px;}

    .icon{
        display: inline;}

    .iconos {
        font-size: 20px;
        color: #ffffff;
        padding: 10px;
        background-color: #03264C;
        border-radius: 5px;
    }

    .center{
        text-align: center;
    }

    .iconosf{
        height: 2em;
        width: 2em;
        margin-bottom: 10px;
    }

footer{
    background-color: white;
}




/** 
- Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

- Tipografías
Familia: 'Roboto'

- Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/oferta): 24px
precio: 18px
descuento: 16px
descripcion: 16px

- Íconos
https://fontawesome.com/icons?d=gallery&m=free
*/

