*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;  
}

h3{
    font-size: 24px;
}
    
p{
    font-size: 12px;}

.titulares{
    font-size: 24px;}

.precios{
    font-size: 18px;}

.descuentos{
    font-size: 16px;}

.descripciones{
    font-size: 16px;}

.icon{
    display: inline;}

.burger-menu{
    text-align: center;}

.iconos {
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: #03264C;
    border-radius: 5px;
}

.center{
    text-align: center;
}

footer{
    background-color: white;
}

.iconosf{
    height: 2em;
    width: 2em;
    margin-bottom: 10px;
}